@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
body{
    background-color: #5ab789;
    margin: 0%;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    height: 134px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #588157;
    padding: 5px 36px;
}
*{
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
h1,h2{
    font-size: 48px;
    margin-bottom: 0;
}
h1{
    width: 485px;
    height: 74px;
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.search{
    background-color: #3A5A40;
    height: 40px;
    width: 387px;
    margin: 8.5px;
    border-radius: 20px;
    border: 0;
    padding: 0px 20px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
.glass{
    position: absolute;
    top: 55px;
    right: 680px;
    cursor: pointer;
}
.list_item{
    background-color: #3A5A40;
    width: 115px;
    height: 40px;
    margin: 0px 8.5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_item_text{
color: #DAD7CD;
text-decoration: none;
}
.list_item:hover{
    background-color: #5a3a54;
}
.list_item_text:hover{
    color: #ffcfa2;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.btn{
    background-color: #3A5A40;
    color: #DAD7CD;
    width: 266px;
    height: 51px;
    border: 0;
    border-radius: 27px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
.btn:hover{
    color: #ffcfa2;
    background-color: #5a3a54;
}
.btn_loc{
    color: #DAD7CD;
    width: 266px;
    height: 51px;
    border: 0;
    border-radius: 27px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    background-color:rgba(58,90,64, 0.6) ;
}
.btn_loc:hover{
    color: #ffcfa2;
    background-color:rgba(90,58,84, 0.6) ;
}
#cover{
    background-image: url("/images/cover.png");
    display: flex;
    align-items: center;
    height: 434px;
    background-size: cover;
}
.slogan{
    width: 485px;
    height: 84px;
    background-color: rgba(255, 255, 255, 0.2);;
    text-align: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-style: italic;
}
#catalog{
    height: 679px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 15px solid white;
}
.cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 38px;
}
.card{
    width: 301px;
    height: 476px;
    padding: 20px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7d7aa;
    border-radius: 44px;
    margin-right: 37px;
}
.card_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}
h3{
margin: 0px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    height: 34px;
    width: 116px;
    border: 2px solid black;
    border-radius: 60px;
    margin-bottom: 8px;
    margin-top: 8px;
}
#about_us{
    margin-top: 50px;
    border: 15px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 617px;
}
.text_about_us{
    font-weight: 500;
    font-size: 24px;
}
.about_us_content{
    display: flex;
    height: 557px;
    justify-content: center;
}
.about_us_image{
    height: 500px;
    width: 397px;
    margin-top: 35px;
}
.about_us_text{
    width: 527px;
    height: 406px;
    margin-left: 25px;
}
#delivery{
    margin-top: 50px;
    border: 15px solid white;
}
.delivery_cards{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 868px;
    margin-top: 38px;
    justify-content: space-between;
}
.delivery_card{
    width: 301px;
    height: 340px;
    padding: 20px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7d7aa;
    border-radius: 44px;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}
#contacts{
    height: 534px;
    margin-top: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(/images/contacts.png);
    display: flex;
    align-items: center;
    background-size: cover;
}
.contacts{
    margin: 30px 59px;
}
.contact_text{
    margin-top: 23px;
    margin-bottom: 23px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 186px;
    padding: 20px;
    background-color: #588157;
}
.footer_text{
    margin-left: 15px;
    text-align: center;
    font-size: 24px;
}
.footer_links{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.footer_icon{
    margin-right: 43px ;
}
.footer_icons{
    width: 183px;
    display: flex;
    flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
}
input{
    padding-left: 20px;
    width: 497px;
    height: 39px;
    background-color: #344E41;
    color: #DAD7CD;
    border: 0;
    border-radius: 15px;
    margin-top: 32px;
}
::placeholder{
    color: #DAD7CD;
}
.checkbox_stroke{
    display: flex;
    align-items: center;
}
.checkbox{
    width: 43px;
    height: 43px;
    margin: 5px;
}
.choice{
    display: flex;
    justify-content: center;
    margin-top: 41px;
}
.choice_page{
width: 249px;
margin-top: 39px;
display: flex;
justify-content: space-between;
}
select{
    color: #DAD7CD;
    background-color: #344E41;
    width: 304px;
    height: 71px;
    border-radius: 15px;
    font-size: 24px;
    padding-left: 5px;
    margin-top: 39px;
    margin-right: 22px;
    appearance: none;
}